html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    margin-bottom: 0;
    /* margin-bottom: 40px; */
}
.container2 {
    width: 100%;
    height: 800px;
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-image: url("/img/index.png"); 
}

.datepicker {
    font-family: Arial, sans-serif;
}

.datepicker table {
    width: 100%;
}

.datepicker table th,
.datepicker table td {
    text-align: center;
    padding: 0.5rem;
}

.datepicker table th {
    font-weight: bold;
}

.datepicker table td.day.disabled {
    background-color: #bd0811;
    color: #ffffff;
}

.datepicker table td.day:hover:not(.disabled),
.datepicker table td.day.focused:not(.disabled) {
    background-color: #e9ecef;
    color: #000;
}

.datepicker table td.today:not(.disabled) {
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
}