html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    margin-bottom: 0;
    /* margin-bottom: 40px; */
}
.container2 {
    width: 100%;
    height: 800px;
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-image: url("/img/index.png"); 
}

