<div class="container p-4">
    <div class="mx-auto text-center">
        <h2 class="text-primary">Registrar Vehículo</h1>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card border-primary">
                <div class="card-body">
                    <form action="/links/add" method="POST">
                        <div class="row">
                            <div class="text-left col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Marca <span class="text-danger"> *</span></label>
                                    <input type="text" name="brand" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Placa <span class="text-danger"> *</span></label>
                                    <input type="text" name="plate" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Caja de cambios <span class="text-danger">
                                            *</span></label>
                                    <select class="form-control" name="gearbox" required>
                                        <option></option>
                                        <option name="gearbox" value="Manual">Manual</option>
                                        <option name="gearbox" value="Automatica">Automática</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">URL Foto <span class="text-danger"> *</span></label>
                                    <input type="text" name="url" class="form-control" required>
                                </div>
                            </div>
                            <div class="text-left col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Modelo <span class="text-danger">
                                            *</span></label>
                                    <input type="text" name="model" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Licencia tránsito <span class="text-danger">
                                            *</span></label>
                                    <input type="number" name="transit_license" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Combustible <span class="text-danger">
                                            *</span></label>
                                    <select class="form-control" name="fuel" required>
                                        <option></option>
                                        <option name="fuel" value="Gasolina">Gasolina</option>
                                        <option name="fuel" value="Diesel">Diesel</option>
                                        <option name="fuel" value="Gas">Gas</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block">
                                Registrar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>