<div class="container p-4">
    <div class="mx-auto text-center">
        <h2 class="text-primary"> Editar Gasto </h1>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card border-primary">
                <div class="card-body">
                    <form action="/links/editGastos/{{link.id}}" method="POST">
                        <div class="form-group">
                            <label class="text-dark">Descripción<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" value="{{link.ingreso}}" name="ingreso" autofocus
                                required>
                        </div>
                        <div class="form-group">
                            <label class="text-dark">Valor<span class="text-danger"> *</span></label>
                            <input type="number" class="form-control" value="{{link.valor}}" name="valor" required>
                        </div>
                        <div class="form-group">
                            <label class="text-dark">Fecha<span class="text-danger"> *</span></label>
                            <input type="date" class="form-control" value="{{timeago2 link.fecha}}" name="fecha"
                                required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>