<div class="container p-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <div class="card border-dark">
        <div class="card-header text-center text-dark">
          <h5> Renta de Autos Gaviria</h5>
          <h6> Cra. 30 #24-12 </h6>
          <h6> Santa Rosa de Cabal </h6>
          <h6> Tel: 6365745 </h6>
        </div>
        <div class="card-body">
          <div class="p-1 text-dark">
            <h5 class="text-center"> Factura No. 001 </h5>
            <h6> <b>Fecha:</b> 10/03/2023</h6>
            <h6> <b>Cliente:</b> Ernesto Perez</h6>
            <h6> <b>Identificación:</b> 24156789</h6>
          </div>

          <hr class="border-secondary p-1">

          <table class="text-dark text-left table mx-auto p-1">
            <tr>
              <td>
                <h6><b>Vehículo</b></h6>
              </td>
              <td>
                <h6><b>Fecha inicio</b></h6>
              </td>
              <td>
                <h6><b>Fecha fin</b></h6>
              </td>
              <td>
                <h6><b>Monto</b></h6>
              </td </tr>
            <tr>
              <td>
                <h6>Honda CR-V</h6>
              </td>
              <td>
                <h6>12/06/2023</h6>
              </td>
              <td>
                <h6>14/06/2023</h6>
              </td>
              <td>
                <h6>240.000</h6>
              </td>
            </tr>
          </table>

          <hr class="border-secondary p-1">

          <div class="text-center text-secondary p-1">
            <h6>Elaborada por: Renta de Autos Gaviria</h6>
            <h6>www.rentadeautosgaviria.com</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>