<div class="container p-4">
    <div class="mx-auto text-center">
        <h1 > Agregar gasto </h1>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/links/gastos/{{link.id}}" method="POST">
                        <div class="form-group">
                            <input type="text" value="{{link.title}}" class="form-control" name="title" placeholder="Title" readonly>
                        </div>
                        <div class="form-group">
                            <input type="url" value="{{link.url}} " name="url" class="form-control" placeholder="URL" readonly>
                        </div>
                        <div class="form-group">
                            <textarea name="description" rows="2" class="form-control" placeholder="Descripcion" readonly>{{link.description}}</textarea>
                        </div>
                        <div class="dropdown-divider"></div>
                        <p>Datos del Gasto </p> 
                        <div class="form-group">
                            <input type="text"  class="form-control" name="ingreso" placeholder="Descripcion Gasto" autofocus required>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" name="valor" placeholder="Valor"  required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>