<div class="container p-4">
    <div class="mx-auto text-center">
        <h2 class="text-primary"> Agregar Mantenimiento </h2>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card border-primary">
                <div class="card-body">
                    <form action="/links/mantenimiento/{{link.id}}" method="POST">
                        <h6 class="text-center text-dark">Datos del vehículo</h6>
                        <div class="form-group">
                            <label class="text-dark">Marca</label>
                            <input type="text" value="{{link.brand}}" class="form-control" name="brand" readonly>
                        </div>
                        <div class="form-group">
                            <label class="text-dark">Modelo</label>
                            <input type="url" value="{{link.model}} " name="model" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label class="text-dark">Placa</label>
                            <input type="url" value="{{link.plate}} " name="plate" class="form-control" readonly>
                        </div>

                        <div class="dropdown-divider"></div>

                        <h6 class="text-center text-dark">Datos del mantenimiento</h6>
                        <div class="form-group">
                            <label class="text-dark">Descripción <span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" name="nombre" autofocus required>
                        </div>
                        <div class="form-group">
                            <label class="text-dark">Valor <span class="text-danger"> *</span></label>
                            <input type="number" class="form-control" name="km" required>
                        </div>
                        <div class="form-group">
                            <label class="text-dark">Fecha <span class="text-danger"> *</span></label>
                            <input type="date" name="fecha" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>