<div class="container p-4">
  <div class="mx-auto text-center">
    <h2 class="text-primary">Pagar depósito</h1>
  </div>
  <br>
  <div class="col-md-4 mx-auto">
    <div class="card border-primary">
      <div class="card-body">
        <form action="/links/pagarDeposito/{{id_rent}}" method="POST">
          <div class="form-group">
            <label class="form-label">Numero de comprobante <span class="text-danger"> *</span></label>
            <input type="number" name="deposit_slip" class="form-control" required>
          </div>
          <div class="form-group">
            <label class="form-label">Fecha <span class="text-danger"> *</span></label>
            <input type="date" name="payment_date" class="form-control" required>
          </div>
          <div class="form-group">
            <label class="form-label">Monto <span class="text-danger"> *</span></label>
            <input type="number" name="price" class="form-control" required>
          </div>
          <label class="text-danger">El valor del depósito debe corresponder a mínimo el 30% ({{renta.value}}) del valor de la
            renta.</label>
          <div class="form-group p-3 text-center">
            <button class="btn btn-primary">
              Pagar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>