<div class="container p-4">
  <div class="mx-auto text-center">
    <h2 class="text-primary">Realizar Reserva</h1>
  </div>
  <br>
  <div class="col-md-4 mx-auto">
    <div class="card border-primary">
      <div class="card-header text-center text-secondary">
        <h5>{{links.brand}} {{links.model}}</h5>
        <h6>{{links.plate}}</h6>
      </div>
      <div class="card-body">
        <form action="/links/reservarCustomer/{{links.id}}" method="POST">
          <div class="form-group">
            <label class="form-label">Licencia de conducción <span class="text-danger"> *</span></label>
            <input type="number" name="transit_license" class="form-control" required>
          </div>
          <div class="form-group">
            <label class="form-label">Fecha inicio <span class="text-danger"> *</span></label>
            <input type="text" id="datepicker" name="start_date" class="form-control" placeholder="dd-mm-aaaa" required>
          </div>
          <div class="form-group">
            <label class="form-label">Fecha fin <span class="text-danger"> *</span></label>
            <input type="text" id="datepicker2" name="end_date" class="form-control" placeholder="dd-mm-aaaa" required>
          </div>
          <div class="form-group p-3 text-center">
            <button class="btn btn-primary">
              Reservar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>