<div class="container p-4">
  <div class="mx-auto text-center">
    <h2 class="text-primary">Realizar Reserva</h1>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card border-primary">
        <div class="card-header text-center text-secondary">
          <h5>{{links.brand}} {{links.model}}</h5>
          <h6>{{links.plate}}</h6>
        </div>
        <div class="card-body">
          <form action="/links/reservarAdmin/{{links.id}}" method="POST">
            <div class="row">
              <div class="text-left col-md-6">
                <div class="form-group">
                  <label class="form-label">Tipo de documento <span class="text-danger"> *</span></label>
                  <select class="form-control" name="document_type" autofocus>
                    <option></option>
                    <option name="document_type" value="Cedula de ciudadania">Cédula de ciudadania</option>
                    <option name="document_type" value="Cedula de extranjeria">Cédula de extranjería</option>
                    <option name="document_type" value="Pasaporte">Pasaporte</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="form-label">Nombres <span class="text-danger"> *</span></label>
                  <input type="text" name="firstname" class="form-control" required>
                </div>
                <div class="form-group">
                  <label class="form-label">Fecha de nacimiento <span class="text-danger"> *</span></label>
                  <input type="date" name="birth_date" class="form-control" required>
                </div>
                <div class="form-group">
                  <label class="form-label">Correo electrónico <span class="text-danger"> *</span></label>
                  <input type="email" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                  <label class="form-label">Fecha inicio <span class="text-danger"> *</span></label>
                  <input type="text" id="datepicker" name="start_date" class="form-control" placeholder="dd/mm/aaaa"
                    required>
                </div>
              </div>
              <div class="text-left col-md-6">
                <div class="form-group">
                  <label class="form-label">Documento de identidad <span class="text-danger"> *</span></label>
                  <input type="text" name="document_number" class="form-control" required>
                </div>
                <div class="form-group">
                  <label class="form-label">Apellidos <span class="text-danger"> *</span></label>
                  <input type="text" name="lastname" class="form-control" required>
                </div>
                <div class="form-group">
                  <label class="form-label">Número de celular <span class="text-danger"> *</span></label>
                  <input type="number" name="phone_number" class="form-control" required>
                </div>
                <div class="form-group">
                  <label class="form-label">Licencia de conducción <span class="text-danger"> *</span></label>
                  <input type="number" name="transit_license" class="form-control" required>
                </div>
                <div class="form-group">
                  <label class="form-label">Fecha fin <span class="text-danger"> *</span></label>
                  <input type="text" id="datepicker2" name="end_date" class="form-control" placeholder="dd/mm/aaaa"
                    required>
                </div>
              </div>
            </div>
            <div class="form-group p-3 text-center">
              <button class="btn btn-primary">
                Reservar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>