<div class="container p-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3 class="text-primary">Registro</h3>
        </div>
        <div class="card-body">
          <form action="/signup" method="POST">
            <div class="row">
              <div class="text-left col-md-6">
                <div class="form-group">
                  <label class="form-label">Tipo de documento <span class="text-danger"> *</span></label>
                  <select class="form-control" name="document_type" autofocus>
                    <option></option>
                    <option name="document_type" value="Cedula de ciudadania">Cédula de ciudadania</option>
                    <option name="document_type" value="Cedula de extranjeria">Cédula de extranjería</option>
                    <option name="document_type" value="Pasaporte">Pasaporte</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="form-label">Nombres <span class="text-danger"> *</span></label>
                  <input type="text" name="first_name" class="form-control" required>
                </div>
                <div class="form-group">
                  <label class="form-label">Fecha de nacimiento <span class="text-danger"> *</span></label>
                  <input type="date" name="birth_date" class="form-control" required>
                </div>
                <div class="form-group">
                  <label class="form-label">Correo electrónico <span class="text-danger"> *</span></label>
                  <input type="email" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                  <label class="form-label">Usuario <span class="text-danger"> *</span></label>
                  <input type="text" name="username" class="form-control" required>
                </div>
              </div>
              <div class="text-left col-md-6">
                <div class="form-group">
                  <label class="form-label">Documento de identidad <span class="text-danger"> *</span></label>
                  <input type="text" name="identity_document" class="form-control" required>
                </div>
                <div class="form-group">
                  <label class="form-label">Apellidos <span class="text-danger"> *</span></label>
                  <input type="text" name="last_name" class="form-control" required>
                </div>
                <div class="form-group">
                  <label class="form-label">Número de celular <span class="text-danger"> *</span></label>
                  <input type="number" name="cellphone_number" class="form-control" required>
                </div>
                <div class="form-group">
                  <label class="form-label">Tipo de usuario <span class="text-danger"> *</span></label>
                  <select class="form-control" name="user_type">
                    <option></option>
                    <option name="user_type" value="cliente">Cliente</option>
                    <option name="user_type" value="propietario">Propietario</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="form-label">Contraseña <span class="text-danger"> *</span></label>
                  <input type="password" name="password" minlength="8" class="form-control" required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary">
                Registrarse
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>